<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/resippies.css" />
    {% endblock head %}
</head>

<body>
    <div class="container">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="15%" valign="top">
                        <ul>
                            {% if auth %}
                            <li><a href="/identity/{{ auth.id }}">{{ auth.username }}</a></li>
                            <li><a href="/create_cookbook">New Cookbook</a></li>
                            <!--<li><a href="/create_recipe">New Recipe</a></li>-->
                            {% else %}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            {% endif %}
                            <li><a href="/">Home</a></li>

                        </ul>
                    </td>
                    <td width="85%" valign="top">
                        <div class="content">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            {% block footer %}
            Made with ❤️ by <a href="https://github.com/novafacing">novafacing</a>.
            {% endblock footer %}
        </div>

    </div>
</body>

</html>