{% extends "/base" %}
{% block title %}
Recipe
{% endblock title %}
{% block head %}
{{ super()}}
{% endblock head %}
{% block content %}
<h1>{{ response.cookbook.name }} by <a href="/identity/{{ response.author.id }}">{{ response.author.username }}</a></h1>
<table width="100%">
    <tbody>
        {% for recipe in response.recipes %}
        <tr>
            <td width="15%">
                <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
                <br>
                by <a href="/identity/{{ response.authors[recipe.id].id }}">{{ response.authors[recipe.id].username
                    }}</a>
                <br>
                {% if response.cookbooks[recipe.id] | length > 1 %}
                from:
                <ul>
                    {% for cookbook in response.cookbooks[recipe.id] %}
                    <li>
                        <a href="/cookbook/{{ cookbook.id }}">
                            {{ cookbook.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if response.cookbooks[recipe.id] | length == 1 %}
                from <a href="/cookbook/{{ response.cookbooks[recipe.id][0].id }}">{{
                    response.cookbooks[recipe.id][0].name
                    }}</a>
                {% endif %}
            </td>
            <td width="85%">
                <div class="truncate">
                    {{ recipe.description | truncate(length=256) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}