{% extends "/base" %}
{% block title %}
Register
{% endblock title %}
{% block head %}
{{ super()}}
{% endblock head %}
{% block content %}
<div class="form">
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" />
        <br>
        <div class="center-button">
            <input type="submit" value="Login!" />
        </div>
    </form>
</div>
{% endblock content %}